*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Roboto, sans-serif;
    background:#0f172a;
    color:white;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:#020617;
    flex-wrap:wrap;
}

.logo{
    font-family:Orbitron;
    color:#38bdf8;
}

.navbar ul{
    display:flex;
    list-style:none;
    flex-wrap:wrap;
}

.navbar li{
    margin-left:20px;
}

.navbar a{
    text-decoration:none;
    color:white;
}

/* HERO */

.hero{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(135deg,#020617,#1e293b);
}

.hero h1{
    font-size:40px;
}

.hero p{
    margin-top:15px;
}

/* SEÇÕES */

.section{
    padding:60px 20px;
    text-align:center;
}

/* CARDS */

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:40px;
}

.card{
    background:#1e293b;
    border-radius:10px;
    padding:20px;
    width:300px;
}

.card img{
    width:100%;
    border-radius:10px;
}

/* CONTATO */

.contact{
    display:flex;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
    margin-top:30px;
}

.icon{
    width:60px;
}

/* FOOTER */

footer{
    text-align:center;
    padding:20px;
    background:#020617;
    margin-top:40px;
}

/* RESPONSIVIDADE */

@media (max-width: 768px){

    .navbar{
        flex-direction:column;
        text-align:center;
    }

    .navbar ul{
        margin-top:15px;
        flex-direction:column;
    }

    .navbar li{
        margin:10px 0;
    }

    .hero h1{
        font-size:28px;
    }

    .cards{
        flex-direction:column;
        align-items:center;
    }

    .card{
        width:90%;
    }

    .contact{
        flex-direction:column;
        gap:20px;
    }
}

    text-align:center;
    padding:30px;
    background:#020617;
    margin-top:40px;
}
